/* importar fonte Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* geral */
body {
    font-family: 'Open Sans';
    font-size: 16px;
}

a {
    text-decoration: none;
}

/* navbar */
nav {
    background-color: #dad9d6;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 0 10px;
}

nav .container {
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0 17px;
}

/* logo do topo */
nav .container .logo {
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav .container .logo img:first-child {
    width: 60px;
    margin-bottom: 5px;
}

nav .container .logo img:last-child {
    width: 120px;
}

/* seções da navbar */
nav .container .secao {
    width: 425px;
    height: 75px;
    position: relative;
}

/* contato da navbar */
nav .container .secao .contato {
    font-size: .8em;
    color: #1b253e;
}

nav .container .secao.direita .contato {
    position: absolute;
    right: 0;
}

nav .container .secao .contato i {
    font-size: .8em;
    margin-right: 5px;
}

/* navegação da navbar */
nav .container .secao .navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container .secao.esquerda .navegacao {
    margin-top: 30px;
}

nav .container .secao.direita .navegacao {
    margin-top: 40px;
}

/* icones de rede social da navbar */
nav .container .secao .redes-sociais {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
}

nav .container .secao .redes-sociais li {
    margin: 7px;
}

nav .container .secao .redes-sociais li a {
    color: #1b253e;
}

/* links de navegação da navbar */
nav .container .secao .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8em;
    font-weight: 700;
    text-transform: uppercase;
}

nav .container .secao .links li {
    margin: 0 20px;
}

nav .container .secao .links li a {
    color: #1b253e;
}

/* botões da navbar */
nav .container .secao.direita .navegacao button {
    background-color: #1b253e;
    color: #d7b872;
    border: none;
    border-radius: 10px;
    padding: 12px 15px;
    text-transform: uppercase;
    font-size: .7em;
}

nav .container .secao.direita .navegacao button i:first-child {
    margin-right: 5px;
    font-size: 1.2em;
}

nav .container .secao.direita .navegacao button i:last-child {
    margin-left: 5px;
    font-size: 1.2em;
}

/* ícone do menu hambúrguer */
nav .container i.fa-bars {
    font-size: 2em;
    color: #1b253e;
    margin-right: 30px;
    display: none;

    cursor: pointer;
}

/* menu hambúrguer */
.menu-hamburguer {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;    
    height: 100%;
    top: 0;
    display: flex;
    justify-content: flex-end;
    overflow-x: auto;
    visibility: hidden;
    transition: .3s ease;
    z-index: 1;
}

.menu-hamburguer .container {
    background-color: #1b253e;
    height: 100vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 60px;
    overflow-x: auto;
    margin-right: -100%;
    transition: .3s ease;
}

/* ícone de fechar menu de hambúrguer */
.menu-hamburguer .container .fa-xmark {
    color: white;
    align-self: flex-end;
    font-size: 1.8em;
    margin-bottom: 40px;
    margin-right: 10px;
    cursor: pointer;
}

/* contato do menu de hambúrguer */
.menu-hamburguer .container .contato {
    color: white;
    text-align: center;
}

.menu-hamburguer .container .contato i {
    margin-right: 7px;
}

.menu-hamburguer .container .contato:first-child {
    margin-bottom: 20px;
}

/* redes sociais do menu de hambúrguer */
.menu-hamburguer .container .redes-sociais {
    display: flex;
}

.menu-hamburguer .container .redes-sociais li {
    margin: 70px 10px;
    font-size: 1.6em;
}

.menu-hamburguer .container .redes-sociais li a {
    color: white;
}

/* links do menu hambúrguer */
.menu-hamburguer .container .links {
    text-align: center;
    width: 100%;
}

.menu-hamburguer .container .links li {
    padding: 30px 0;
    font-size: 1.2em;
    border-top: 2px solid white;
}

.menu-hamburguer .container .links li:last-child {
    border-bottom: 2px solid white;
}

.menu-hamburguer .container .links li a {
    color: white;
}

/* header */
header {
    background-color: #151d31;
    padding-left: 40px;
}

header .container {
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* textos */
header .container .textos {
    height: 100%;
    color: white;
    margin-right: 140px;
}

header .container .textos h1 {
    color: #cc9f73;
    font-size: 2.2em;
    font-weight: 600;
    margin-bottom: 15px;
}

header .container .textos h1 span {
    font-size: .6em;
    margin-right: 5px;
}

header .container .textos h2 {
    font-size: 1.3em;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
}

header .container .textos p {
    line-height: 32px;
    font-size: .9em;
}

/* imagem */
header .container .imagem {
    border-left: 2px solid #777073;
    border-right: 2px solid #777073;
    display: flex;
    justify-content: flex-end;
    height: 500px;
    padding-left: 17px;
}

header .container .imagem img {
    height: 100%;
}

/* rodapé */
footer {
    width: 100%;
}

footer .container {
    max-width: 1024px;
    margin: 0 auto;
}

footer .rodape {
    background-color: #151d31;
}

/* botão do whatsapp do footer */
footer .container.btn-wa {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
}

footer .container.btn-wa button {
    border: none;
    border-radius: 10px;
    background-color: #00cd5c;
    padding: 10px 15px 13px;
    text-transform: uppercase;
    font-size: .8em;
}

footer .container.btn-wa button i {
    font-size: 1.7em;
    transform: translateY(3px);
    margin-right: 5px;
}

footer .container.btn-wa button a {
    color: white;
}

footer .rodape .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

/* copy do footer */
footer .rodape .copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .rodape .copy .logo {
    margin-right: 12px;
}

footer .rodape .copy .logo img {
    width: 60px;
}

footer .rodape .copy .textos {
    color: white;
    font-size: .8em;
}

footer .rodape .copy .textos p {
    font-weight: 700;
    margin-bottom: 5px;
}

/* redes socias do rodapé */
footer .rodape .redes-sociais {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .rodape .redes-sociais p {
    color: #e3b96e;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 700;
    margin-right: 25px;
}

footer .rodape .redes-sociais ul {
    display: flex;
}

footer .rodape .redes-sociais ul li {
    margin-right: 20px;
    font-size: 1.3em;
}

footer .rodape .redes-sociais ul li:first-child {
    font-size: 1.1em;
    transform: translateY(1px);
}

footer .rodape .redes-sociais ul li a {
    color: #e3b96e;
}

/* seção sobre os cookies */
footer .cookies {
    background-color: #cc9f73;
    padding: 27px 10px;
}

footer .cookies .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .cookies .container p {
    font-size: .8em;
    color: #3a3a3a;
    padding: 0 100px;
    line-height: 20px;
    text-align: justify;
}

footer .cookies .container p a {
    color: #3a3a3a;
    text-decoration: underline;
}

footer .cookies .container button {
    border: 1px solid #3a3a3a;
    border-radius: 10px;
    background-color: transparent;
    color: #3a3a3a;
    min-width: max-content;
    padding: 10px 35px;
    cursor: pointer;
}

/* responsivo para telas médias */
@media screen and (max-width: 1023px) {
    /* ajustar padding e width do nav */
    nav {
        padding: 0;
    }

    nav .container {
        width: 100%;
    }

    /* ocultar seções da navbar */ 
    nav .container .secao {
        display: none;
    }

    /* ajutar posição da logo da navbar */
    nav .container .logo {
        margin-left: 5px;
    }

    /* mostrar ícone do menu hambúrguer */
    nav .container i.fa-bars {
        display: block;
    }

    /* textos do header */
    header .container .textos {
        margin-right: 60px;
    }

    header .container .textos h1 {
        font-size: 1.8em;
    }

    header .container .textos h2 {
        font-size: 1.1em;
    }

    header .container .textos p {
        text-align: justify;
        font-size: .8em;
    }
    /* imagem do header */
    header .container .imagem {
        height: 400px;
        padding-left: 10px;
    }

    /* seção de cookies */
    footer .cookies .container {
        flex-direction: column;
    }

    footer .cookies .container p {
        padding: 0 20px;
    }

    footer .cookies .container button {
        margin: 20px 0 0;
    }
}

/* responsivo para telas pequenas */
@media screen and (max-width: 767px) {
    /* container do menu de hamburger */
    .menu-hamburguer .container {
        width: 100%;
        padding: 50px 20px;
    }

    /* container do rodapé */
    footer .rodape .container {
        flex-direction: column;
    }

    /* logo do rodapé */
    footer .rodape .copy {
        margin-bottom: 15px;
    }

    /* header */
    header {
        padding: 10px;
    }

    header .container {
        flex-direction: column;
    }

    /* textos do header */
    header .container .textos {
        margin: 0;
        padding: 15px 15px 30px;
    }

    header .container .textos h1 {
        font-size: 1.7em;
        text-align: center;
    }

    header .container .textos h2 {
        text-align: center;
        font-size: 1em;
    }

    /* imagem do header */
    header .container .imagem {
        order: -1;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #777073;
        height: 430px;
        width: 100%;
        padding: 0 0 15px;
    }

    header .container .imagem img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
    }

    /* redes socias do rodapé */
    footer .rodape .redes-sociais {
        flex-direction: column;
    }

    footer .rodape .redes-sociais p {
        margin: 0 0 12px;
    }

    footer .rodape .redes-sociais ul li {
        margin: 0 15px;
    }
}