/* importar fonte Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* geral */
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #eeeeee;
}

a {
    text-decoration: none;
}

/* navbar */
nav {
    background-color: #dad9d6;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 0 10px;
}

nav .container {
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0 17px;
}

/* logo do topo */
nav .container .logo {
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav .container .logo img:first-child {
    width: 60px;
    margin-bottom: 5px;
}

nav .container .logo img:last-child {
    width: 120px;
}

/* seções da navbar */
nav .container .secao {
    width: 425px;
    height: 75px;
    position: relative;
}

/* contato da navbar */
nav .container .secao .contato {
    font-size: .8em;
    color: #1b253e;
}

nav .container .secao.direita .contato {
    position: absolute;
    right: 0;
}

nav .container .secao .contato i {
    font-size: .8em;
    margin-right: 5px;
}

/* navegação da navbar */
nav .container .secao .navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container .secao.esquerda .navegacao {
    margin-top: 30px;
}

nav .container .secao.direita .navegacao {
    margin-top: 40px;
}

/* icones de rede social da navbar */
nav .container .secao .redes-sociais {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
}

nav .container .secao .redes-sociais li {
    margin: 7px;
}

nav .container .secao .redes-sociais li a {
    color: #1b253e;
}

/* links de navegação da navbar */
nav .container .secao .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8em;
    font-weight: 700;
    text-transform: uppercase;
}

nav .container .secao .links li {
    margin: 0 20px;
}

nav .container .secao .links li a {
    color: #1b253e;
}

/* botões da navbar */
nav .container .secao.direita .navegacao button {
    background-color: #1b253e;
    color: #d7b872;
    border: none;
    border-radius: 10px;
    padding: 12px 15px;
    text-transform: uppercase;
    font-size: .7em;
    cursor: pointer;
}

nav .container .secao.direita .navegacao button i:first-child {
    margin-right: 5px;
    font-size: 1.2em;
}

nav .container .secao.direita .navegacao button i:last-child {
    margin-left: 5px;
    font-size: 1.2em;
}

/* ícone do menu hambúrguer */
nav .container i.fa-bars {
    font-size: 2em;
    color: #1b253e;
    margin-right: 30px;
    display: none;

    cursor: pointer;
}

/* menu hambúrguer */
.menu-hamburguer {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;    
    height: 100%;
    top: 0;
    display: flex;
    justify-content: flex-end;
    overflow: auto;
    visibility: hidden;
    transition: .3s ease;
    z-index: 1;
}

.menu-hamburguer .container {
    background-color: #1b253e;
    height: 100vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 60px;
    overflow: auto;
    margin-right: -100%;
    transition: .3s ease;
}

/* ícone de fechar menu de hambúrguer */
.menu-hamburguer .container .fa-xmark {
    color: white;
    align-self: flex-end;
    font-size: 2.2em;
    margin-bottom: 40px;
    cursor: pointer;
}

/* contato do menu de hambúrguer */
.menu-hamburguer .container .contato {
    color: white;
    text-align: center;
}

.menu-hamburguer .container .contato i {
    margin-right: 7px;
}

.menu-hamburguer .container .contato:first-of-type {
    margin-bottom: 20px;
}

/* redes sociais do menu de hambúrguer */
.menu-hamburguer .container .redes-sociais {
    display: flex;
}

.menu-hamburguer .container .redes-sociais li {
    margin: 70px 10px;
    font-size: 1.6em;
}

.menu-hamburguer .container .redes-sociais li a {
    color: white;
}

/* links do menu hambúrguer */
.menu-hamburguer .container .links {
    text-align: center;
    width: 100%;
}

.menu-hamburguer .container .links li {
    padding: 30px 0;
    font-size: 1.2em;
    border-top: 2px solid white;
}

.menu-hamburguer .container .links li:last-child {
    border-bottom: 2px solid white;
}

.menu-hamburguer .container .links li a {
    color: white;
}

/* header */
header {
    background-color: #151d31;
    padding-left: 40px;
}

header > h1 {
    text-transform: uppercase;
    color: #cc9f73;
    font-size: 1.9em;
    padding: 50px 0;
    text-align: center;
    font-weight: 600;
}

header .container {
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* textos */
header .container .textos {
    height: 100%;
    color: white;
    margin-right: 140px;
}

header .container .textos h1 {
    color: #cc9f73;
    font-size: 2.2em;
    font-weight: 600;
    margin-bottom: 15px;
}

header .container .textos h1 span {
    font-size: .6em;
    margin-right: 5px;
}

header .container .textos h2 {
    font-size: 1.3em;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
}

header .container .textos p {
    line-height: 32px;
    font-size: .9em;
}

/* imagem */
header .container .imagem {
    border-left: 2px solid #777073;
    border-right: 2px solid #777073;
    display: flex;
    justify-content: flex-end;
    height: 500px;
    padding-left: 17px;
}

header .container .imagem img {
    height: 100%;
}

/* sobre o dr. (página de início) */
.sobre.inicio {
    padding: 0 10px;
    background: url("../images/Logo BG.png") no-repeat center;
}

.sobre.inicio .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    padding: 60px 90px;
}

/* informações */
.sobre.inicio .container .info {
    padding-right: 30px;
}

.sobre.inicio .container .info h3 {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 35px;
    text-transform: uppercase;
    color: #151d31;
}

.sobre.inicio .container .info h3 > span {
    display: block;
    font-size: 2em;
    text-transform: none;
    margin-top: 12px;
    font-weight: 600;
    color: #4a4a4a;
}

.sobre.inicio .container .info h3 > span span {
    font-size: .7em;
    margin-right: 5px;
}

.sobre.inicio .container .info p {
    color: #777073;
    font-size: .8em;
    margin-bottom: 35px;
    line-height: 22px;
    text-align: justify;
}

/* links da seção sobre */
.sobre.inicio .container .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sobre.inicio .container .links li {
    margin: 10px;
    width: 100%;
}

.sobre.inicio .container .links li button {
    width: 100%;
    border: 1px solid #d2ad6d;
    border-radius: 10px;
    background-color: transparent;
    padding: 15px 20px;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    color: #d2ad6d;
}

/* especialidades */
.especialidades {
    width: 100%;
}

/* cabeçalho */
.especialidades .cabecalho {
    width: 100%;
    background-color: #151d31;
    border-bottom: 7px solid #cc9f73;
    padding-bottom: 80px;
}

.especialidades .cabecalho .elementos {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.especialidades .cabecalho h3 {
    color: white;
    text-transform: uppercase;
    padding-top: 34px;
    padding-left: 90px;
    font-weight: 600;
    font-size: 1em;
}

/* barra de pesquisa */
.especialidades .cabecalho form {
    padding-top: 34px;
    padding-right: 90px;
}

.especialidades .cabecalho form label i {
    color: white;
    font-size: .8em;
    margin-right: 2px;
}

.especialidades .cabecalho form input {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.especialidades .cabecalho form input:focus {
    outline: 2px solid hsl(223, 40%, 25%);
}

.especialidades .cabecalho form input::placeholder {
    font-style: italic;
    font-size: .8em;
    color: white;
}

/* blocos de especialidades */
.especialidades .areas {
    width: 100%;
    position: relative;
}

.especialidades .areas ul {
    max-width: 1024px;
    margin: -52px auto 0;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.especialidades .areas ul li {
    height: 100%;
    width: 100%;
    position: relative;
}

.especialidades .areas ul li img {
    height: 100%;
    width: 100%;
}

.especialidades .areas ul li p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 24px;
    color: #151d31;
    width: max-content;
    text-align: center;
}

.especialidades .areas .fundo {
    background-color: #dad9d6;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 52px;
    z-index: -1;
}

/* contato */
section.contato {
    padding: 0 10px;
    background: #eeeeee url("../images/Logo\ BG.png") right bottom no-repeat;
    background-size: 470px;
}

section.contato .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 60px 90px;
}

section.contato .container h3 {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 35px;
    text-transform: uppercase;
    color: #151d31;
}

section.contato .container h3 > span {
    display: block;
    font-size: 2em;
    text-transform: none;
    margin-top: 12px;
    font-weight: 600;
    color: #4a4a4a;
}

section.contato .container > div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* botões de contato  */
section.contato .container > div .links li button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #0c2442, #151d31);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 220px;
    margin-bottom: 15px;
    padding: 15px 25px;
    text-align: justify;
    line-height: 20px;
    font-size: .8em;
}

section.contato .container > div .links li button i.fa-location-dot {
    font-size: 2.3em;
    margin-right: 25px;
}

section.contato .container > div .links li button i.fa-phone {
    font-size: 1.4em;
    margin-right: 30px;
}

section.contato .container > div .links li button i.fa-whatsapp {
    font-size: 1.6em;
    margin-right: 10px;
}

section.contato .container > div .links li:last-child button {
    background-image: linear-gradient(to bottom, #00cd5c, #1a914f);
    margin-top: 50px;
}

/* formulário */
section.contato .container > div form {
    width: 100%;
    margin-left: 30px;
}

section.contato .container > div form .input {
    width: 100%;
}

section.contato .container > div form .input input,
section.contato .container > div form .input select,
section.contato .container > div form .input textarea {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #cc9f73;
    border-radius: 10px;
    padding: 15px 12px;
    background-color: white;
    outline: none;
    font-size: .8em;    
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin-bottom: 22px;
}

section.contato .container > div form .input input:focus,
section.contato .container > div form .input select:focus,
section.contato .container > div form .input textarea:focus {
    border-color: hsl(30, 47%, 42%);
}

section.contato .container > div form .input select {
    color: gray;
}

section.contato .container > div form .input textarea {
    resize: none;
}

section.contato .container > div form input[type="submit"] {
    display: block;
    margin: 0 auto;
    border: 2px solid #cc9f73;
    border-radius: 10px;
    background-color: white;
    text-transform: uppercase;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: #cc9f73;
    padding: 12px 80px;
    cursor: pointer;
}

/* onde estamos */
.onde-estamos {
    width: 100%;
    padding: 0 10px;
    background-color: #ececec;
}

.onde-estamos .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 60px 90px;
}

.onde-estamos .container h3 {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 35px;
    text-transform: uppercase;
    color: #151d31;
}

.onde-estamos .container h3 > span {
    display: block;
    font-size: 2em;
    text-transform: none;
    margin-top: 12px;
    font-weight: 600;
    color: #4a4a4a;
}

/* consultórios */
.onde-estamos .container .consultorios {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 30px;
}

.onde-estamos .container .consultorios li {
    width: 100%;
}

.onde-estamos .container .consultorios li img {
    width: 100%;
}

.onde-estamos .container .consultorios li address {
    text-align: center;
    color: #777073;
    font-size: .8em;
    margin: 20px 0;
    line-height: 22px;
}

.onde-estamos .container .consultorios li a {
    display: block;
    padding: 10px;
    width: max-content;
    margin: 0 auto;
}

.onde-estamos .container .consultorios li button {
    display: block;
    margin: 0 auto;
    border: 2px solid #cc9f73;
    border-radius: 10px;
    background-color: white;
    text-transform: uppercase;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: #cc9f73;
    padding: 15px 60px;
    cursor: pointer;
}

/* FAQ */
.faq {
    width: 100%;
    padding: 0 10px;
    background-color: #eeeeee;
}

.faq .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 60px 70px 20px;
}

/* seção da dúvida */
.duvida {
    width: 100%;
    margin-bottom: 17px;
}

/* seção da pergunta */
.duvida .pergunta {
    padding: 12px 25px 17px 50px;
    border: 2px solid #cc9f73;
    color: #cc9f73;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.duvida .pergunta > i {
    color: #151d31;
    font-size: 1.5em;
    transform: translateY(2px);
}

.duvida .pergunta p {
    font-size: 1em;
}

.duvida .pergunta p > i {
    font-size: 1.5em;
    transform: translateY(3px);
    margin-right: 35px;
}

/* seção da resposta */
.duvida .resposta {
    width: 95%;
    background-color: rgba(255, 255, 255, .4);
    margin: 0 auto;
    padding: 30px 100px 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #777073;
    font-size: .8em;
    line-height: 22px;
    display: none;
}

.duvida .resposta p {
    text-align: justify;
}

.duvida .resposta .localizacao {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* rodapé */
footer {
    width: 100%;
}

footer .container {
    max-width: 1024px;
    margin: 0 auto;
}

footer .rodape {
    background-color: #151d31;
}

/* botão do whatsapp do footer */
footer .container.btn-wa {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
}

footer .container.btn-wa button {
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #00cd5c;
    padding: 10px 15px 13px;
    text-transform: uppercase;
    font-size: .8em;
}

footer .container.btn-wa button i {
    font-size: 1.7em;
    transform: translateY(3px);
    margin-right: 5px;
}

footer .rodape .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

/* copy do footer */
footer .rodape .copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .rodape .copy .logo {
    margin-right: 12px;
}

footer .rodape .copy .logo img {
    width: 60px;
}

footer .rodape .copy .textos {
    color: white;
    font-size: .8em;
}

footer .rodape .copy .textos p {
    font-weight: 700;
    margin-bottom: 5px;
}

/* redes socias do rodapé */
footer .rodape .redes-sociais {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .rodape .redes-sociais p {
    color: #e3b96e;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 700;
    margin-right: 25px;
}

footer .rodape .redes-sociais ul {
    display: flex;
}

footer .rodape .redes-sociais ul li {
    margin-right: 20px;
    font-size: 1.3em;
}

footer .rodape .redes-sociais ul li:first-child {
    font-size: 1.1em;
    transform: translateY(1px);
}

footer .rodape .redes-sociais ul li a {
    color: #e3b96e;
}

/* seção sobre os cookies */
footer .cookies {
    background-color: #cc9f73;
    padding: 27px 10px;
}

footer .cookies .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .cookies .container p {
    font-size: .8em;
    color: #3a3a3a;
    padding: 0 100px;
    line-height: 20px;
    text-align: justify;
}

footer .cookies .container p a {
    color: #3a3a3a;
    text-decoration: underline;
}

footer .cookies .container button {
    border: 1px solid #3a3a3a;
    border-radius: 10px;
    background-color: transparent;
    color: #3a3a3a;
    min-width: max-content;
    padding: 10px 35px;
    cursor: pointer;
}

/* responsivo para telas médias */
@media screen and (max-width: 1023px) {
    /* ajustar padding e width do nav */
    nav {
        padding: 0;
    }

    nav .container {
        width: 100%;
    }

    /* ocultar seções da navbar */ 
    nav .container .secao {
        display: none;
    }

    /* ajutar posição da logo da navbar */
    nav .container .logo {
        margin-left: 5px;
    }

    /* mostrar ícone do menu hambúrguer */
    nav .container i.fa-bars {
        display: block;
    }

    /* header */
    header > h1 {
        font-size: 1.5em;
        padding: 35px 0;
    }

    /* textos do header */
    header .container .textos {
        margin-right: 60px;
    }

    header .container .textos h1 {
        font-size: 1.8em;
    }

    header .container .textos h2 {
        font-size: 1.1em;
    }

    header .container .textos p {
        text-align: justify;
        font-size: .8em;
    }
    /* imagem do header */
    header .container .imagem {
        height: 400px;
        padding-left: 10px;
    }

    /* bloco das especialidades */
    .especialidades .areas ul {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        padding: 0 50px;
    }

    /* seção de cookies */
    footer .cookies .container {
        flex-direction: column;
    }

    footer .cookies .container p {
        padding: 0 20px;
    }

    footer .cookies .container button {
        margin: 20px 0 0;
    }
}

/* responsivo para telas pequenas */
@media screen and (max-width: 767px) {
    /* header */
    header > h1 {
        font-size: 1.2em;
        padding: 20px 0;
    }

    /* container do menu de hamburger */
    .menu-hamburguer .container {
        width: 100%;
    }

    /* ícone de fechar menu de hambúrguer */
    .menu-hamburguer .container .fa-xmark {
        font-size: 2em;
    }

    /* contato do menu de hambúrguer */
    .menu-hamburguer .container .contato {
        font-size: .7em;
    }

    /* header */
    header {
        padding: 10px;
    }

    header .container {
        flex-direction: column;
    }

    /* textos do header */
    header .container .textos {
        margin: 0;
        padding: 15px 15px 30px;
    }

    header .container .textos h1 {
        font-size: 1.7em;
        text-align: center;
    }

    header .container .textos h2 {
        text-align: center;
        font-size: 1em;
    }

    /* imagem do header */
    header .container .imagem {
        order: -1;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #777073;
        height: 430px;
        width: 100%;
        padding: 0 0 15px;
    }

    header .container .imagem img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
    }

    /* seção sobre (página de início) */
    .sobre.inicio .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 50px;
    }

    /* info da seção sobre (página de início) */
    .sobre.inicio .container .info h3 {
        font-size: .8em;
    }

    .sobre.inicio .container .info h3 > span {
        font-size: 1.7em;
    }

    /* links da seção sobre (página de início) */
    .sobre.inicio .container .links {
        width: 100%;
    }

    /* cabeçalho das especialidades */
    .especialidades .cabecalho .elementos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .especialidades .cabecalho .elementos h3 {
        padding: 30px 0 30px;
    }

    .especialidades .cabecalho .elementos form {
        padding: 0;
    }

    .especialidades .cabecalho .elementos form input {
        outline: 2px solid hsl(223, 40%, 25%);
    }

    /* bloco das especialidades */
    .especialidades .areas ul {
        grid-template: 1fr / 1fr;
        padding: 0 50px;
    }
    
    /* contato */
    section.contato {
        background-position: center;
    }

    section.contato .container {
        padding: 30px 40px;
    }

    section.contato .container h3 {
        font-size: .8em;
    }

    section.contato .container h3 > span {
        font-size: 1.7em;
    }

    section.contato .container > div {
        flex-direction: column;
    }

    /* botões de contato  */
    section.contato .container > div .links {
        width: 100%;
    }

    section.contato .container > div .links li button {
        width: 100%;
    }

    /* formulário de contato */
    section.contato .container > div form {
        order: -1;
        margin: 0 0 70px;
    }

    section.contato .container > div form input[type="submit"] {
        width: 100%;
    }

    /* onde estamos */
    .onde-estamos .container {
        padding: 30px 40px;
    }

    /* consultórios da seção "onde estamos" */
    .onde-estamos .container .consultorios {
        grid-template: 1fr 1fr / 1fr;
    }

    /* FAQ */
    .faq .container {
        max-width: 1024px;
        margin: 0 auto;
        padding: 30px 40px 10px;
    }

    /* seção da pergunta */
    .faq .container .duvida .pergunta {
        padding: 10px 20px;
    }

    .faq .container .duvida .pergunta > i {
        font-size: 1em;
        margin-left: 15px;
    }

    .faq .container .duvida .pergunta p {
        font-size: .8em;
        line-height: 25px;
    }

    .faq .container .duvida .pergunta p > i {
        margin-right: 10px;
    }

    /* seção da resposta */
    .duvida .resposta {
        padding: 10px 30px 40px;
    } 

    .duvida .resposta .localizacao {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .duvida .resposta .localizacao address {
        text-align: justify;
    }

    .duvida .resposta .localizacao address:first-child {
        margin-bottom: 30px;
    }

    /* container do rodapé */
    footer .rodape .container {
        flex-direction: column;
    }

    /* logo do rodapé */
    footer .rodape .copy {
        margin-bottom: 15px;
    }

    /* redes socias do rodapé */
    footer .rodape .redes-sociais {
        flex-direction: column;
    }

    footer .rodape .redes-sociais p {
        margin: 0 0 12px;
    }

    footer .rodape .redes-sociais ul li {
        margin: 0 15px;
    }
}